# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2

jobs:
  build:
    docker:
      - image: googleapis/nox:0.17.0
      - image: python:2.7
      - image: python:3.6

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Decrypt credentials
          command: |
            if [ -n "$GOOGLE_APPLICATION_CREDENTIALS" ]; then
              openssl aes-256-cbc -d -a -k "$GOOGLE_CREDENTIALS_PASSPHRASE" \
                  -in credentials.json.enc \
                  -out $GOOGLE_APPLICATION_CREDENTIALS
            else
              echo "No credentials. System tests will not run."
            fi
      - run:
          name: Run tests - compatibility_checker
          command: |
            nox -f nox.py
      - deploy:
          name: Push to PyPI (if this is a release tag).
          command: scripts/twine_upload.sh

deployment:
  tag_build_for_cci2:
    tag: /(([a-z]+)_)*([0-9]+)\.([0-9]+)\.([0-9]+)/
    commands:
      - true
